<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" color="danger">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfil-container">
    <img [src]="fotoPerfil" alt="Foto de Perfil" class="foto-perfil" />
    <ion-button expand="block" color="secondary" (click)="seleccionarArchivo()">
      Cambiar Foto
    </ion-button>
    <input  type="file" accept="image/*" #fileInput (change)="cambiarFotoPerfil($event)" style="display: none;" />
    <div class="perfil-info">
      <h2>{{ nombreUsuario }}</h2>
      <p><strong>Email:</strong> {{ email }}</p>
    </div>

    <div *ngIf="rol === 'profesor'">
      
      <h2>generar aqui tu código QR.</h2>
      <ion-button expand="block" color="secondary" (click)="generarQR()">Generar QR</ion-button>

      
      <div *ngIf="qrCodeImage">
        <h3>QR Generado:</h3>
        <img [src]="qrCodeImage" alt="QR Code" />
      </div>
    </div>

    <div *ngIf="rol === 'estudiante'" class="perfil-historial">
      <h3>Historial de Registro de Asistencia</h3>
      <ion-list>
        <ion-item *ngFor="let registro of historialAsistencias">
          <div>
            <p><strong>Código:</strong> {{ registro.codigo }}</p>
            <p><strong>Fecha:</strong> {{ registro.fecha }}</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
