<ion-content [fullscreen]="true">
  <img src="/assets/Logo_DuocUC.svg" id="imagen-pequena">
  <ion-icon src="/assets/{{icono}}.svg" id="tema" (click)="cambiarTema()"></ion-icon>
  <div class="contenedor">
    <ion-icon src="/assets/RegistrAPP_Logo.svg" id="logo"></ion-icon>
    <h1>Iniciar sesión</h1>
    
    <ion-input [(ngModel)]="nombreUsuario" placeholder="Nombre de usuario"></ion-input>
    <ion-input [(ngModel)]="contrasena" type="password" placeholder="Contraseña"></ion-input>

    <ion-button expand="block" color="secondary" (click)="iniciarSesion()">Iniciar Sesión</ion-button>
    <ion-button expand="block" color="primary" (click)="registrarUsuario()">Registrar</ion-button>
    
    <p>Olvidé mi contraseña</p>
  </div>
</ion-content>
