ion-content {
  background: #1c1c1c; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0; /* Eliminar cualquier relleno */
  margin: 0; /* Eliminar márgenes */
}

.contenedor {
  background-color: #1c1c1c; 
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  padding: 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  animation: fadeIn 1s ease-out; 
  ion-icon {
    font-size: 8rem;
    color: #00bcd4;
  }
}

.recuperar-contrasena {
  color: #ffffff; 
  text-decoration: underline; 
  font-size: 14px; 
  cursor: pointer; 
  transition: color 0.3s ease;

  &:hover {
    color: #00bcd4; 
  }
}


ion-item {
  --background: transparent; 
  margin-bottom: 20px;
}

ion-input {
  --background: #2c2c2c; 
  border-radius: 10px; 
  padding: 10px;
  --color: #ffffff; 
  font-size: 16px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

ion-input:focus {
  border-color: #00bcd4; 
}

ion-button {
  --background: #00bcd4; 
  --background-activated: #008ba3; 
  --border-radius: 25px;
  --color: #ffffff; 
  margin-top: 15px;
  padding: 8px; 
  font-size: 16px; 
  transition: background-color 0.3s ease-in-out;
}

ion-button:hover {
  --background: #008ba3; 
}

ion-button.tertiary {
  --background: #ffc107; 
}

ion-button.tertiary:hover {
  --background: #ffb300; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  color: #ffffff; 
}

p {
  color: #ffffff; 
}
