ion-header {
  ion-toolbar {
    --padding-start: 0; /* Elimina el padding al inicio */
    --padding-end: 0; /* Elimina el padding al final */
    display: flex;
    justify-content: space-between; /* Distribuye el contenido en ambos lados */
    align-items: center; /* Alinea verticalmente */
  }

  ion-title {
    text-align: center; /* Centra el texto del título */
    flex: 1; /* Permite que el título ocupe el espacio disponible */
  }
}


.inicio-background {
  background-color: var(--fondo); 
}

.inicio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.inicio-card {
  width: 90%;
  max-width: 400px;
  background-color: var(--fondo); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-out; 
}

.qr-button {
  --background: #007bff; /* Azul principal */
  --background-hover: #0056b3; /* Azul más oscuro al pasar el ratón */
  --border-radius: 8px;
  margin-top: 10px;
  animation: pulse 1.5s infinite; /* Agrega animación de pulso */
}

.qr-image {
  display: block;
  margin: 20px auto; /* Centrar horizontalmente */
  width: 200px;
  height: auto;
  border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 20px 10px rgba(0, 123, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}


ion-icon {
  font-size: 1.5rem;
  color: var(--icono);
}
