ion-content{
  --background: var(--ion-background-color, #1c1c1c); 
  position: relative;

  &.qr-active {
    --background: transparent; 
    backdrop-filter: none; 
  }

  .background-transparent {
    --background: transparent; 
  }

  ion-header {
    ion-toolbar {
      --padding-start: 0; 
      --padding-end: 0; 
      display: flex;
      justify-content: space-between; 
      align-items: center; 
    }

    ion-title {
      text-align: center; 
      flex: 1; 
    }
  }


  body {
    background-color: transparent !important;
    --background: transparent;
    --ion-background-color: transparent;
  }

  .inicio-background {
    background-color: #1c1c1c; 
  }

  .inicio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%; 
    text-align: center;
    padding: 16px;
    transition: opacity 0.3s ease;
  }


  .qr-active .inicio-container {
    opacity: 0; 
    pointer-events: none; 
  }


  .escanear-qr-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0 50px;
    z-index: 10
    
  }

  .escanear-qr-container * {
    z-index: 10; 
  }

  .mensaje-bienvenida {
    margin-bottom: 20px;
  }

  .imagen-ahri {
    position: static;
    margin: 20px 0;
    transition: opacity 0.3s ease;
  }

  .imagen-ahri img{
    width: 50%;
    max-width: 300px;
    border-radius: 8px;
  }

  .qr-active .imagen-ahri {
    opacity: 0; /* También oculta la imagen */
  }

  .mensaje-bienvenida .azul {
    color: #007bff; /* Azul para resaltar las palabras */
    font-weight: bold; /* Opcional: Para enfatizar las palabras */
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  @keyframes pulse {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
    }
    70% {
      transform: scale(1.05);
      box-shadow: 0 0 20px 10px rgba(0, 123, 255, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    }
  }


  ion-icon {
    font-size: 1.5rem;
    color: var(--icono);
  }

  ion-toolbar ion-button {
    --color: #ffffff; 
  }

  ion-toolbar ion-icon {
    font-size: 24px; 
  }
}